.partner {
  display: flex;
  justify-content: center;
  position: relative;
  top: 140px;
  color: white;
  flex-direction: column;
  align-items: center;
}

.partner h1{
  font-family: "Iceland", cursive;
position: relative;
/* top: -100px; */
bottom: 20px;
}


@media screen and (max-width: 480px) {
  #part {
    width: 80%;
  }

  #inside_partner {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
  }

  .partner h1 {
    /* padding-bottom: 70px; */
    position: relative;
    top: 10px;
  }
}
