


li{

    color: white;
    font-size: 2rem;
}


.roadmap h1{

    /* font-size: 54px; */
    font-size: 5rem;
    z-index: 1;
}


.roadmap_in{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */


}
.roadmap_in p{

   padding: 4px;


}


.roadmap ul{
margin: 20px;

}

.roadmap_in h3{
font-size: 4rem;
padding-right: 5px;
    color: white;
    padding-left: 20px;
    position: relative;
    right: 20px;
}



.line{
    width: 100%;
    padding: 20px;
}


.roadmap{


    background: url(./road.png);
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-position: 100%;
    justify-content: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    /* z-index: 0.2; */
    
}




  
  
   

.accord{
   
   text-align: center;
   display: flex;
   /* justify-content: center; */
   flex-direction: column;
   /* align-items: center; */
   /* background: rgba(15, 14, 23, 0.01); */
   background-image: url("./bg.jpg");
   /* background-position: cover; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    font-family: 'Iceland', cursive;
    /* padding: 10px; */
    margin: 30px;

    

  }
   .accord h1{
   
color: white;         
font-size: 3rem;



        }

        #panel1a-header{


            box-shadow: 6px  6px  2px white ;
            
        }
        
        @media screen and (min-width: 880px) {

            #foot{

                text-align: center;
                /* padding-top: 1; */
               /* padding-top: 120px;  */
               position: relative;
               top: 10px;
               /* padding-bottom: 120px; */
               /* padding-top: 40px; */
              
              }

        }


@media screen and (max-width: 480px) {

    #foot{

        text-align: center;
        /* padding-top: 1; */
       /* padding-top: 120px;  */
       position: relative;
       top: -10px;
       /* padding-bottom: 120px; */
       /* padding-top: 40px; */
      
      }
   
    li{

        color: white;
        font-size: 1.2rem;
        padding: 2px;
    }
    
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .accord{
   text-align: center;
   display: flex;
        flex-direction: column;

        background-image: url("./bg.jpg");

         background-repeat: no-repeat;
         font-family: 'Iceland', cursive;
         margin-left: 40px;
         margin-right: 40px;
         
         
        }


        
    .accord h1{
   
color: white;         
font-size: 2rem;
width: 100px;
        }
        

        #panel1a-header{


            box-shadow: 6px  6px  2px white ;
            
        }
        
        
        .accord{
            
            
            border-radius: 40px;
        }
        
        .roadmap{


           /* background-position: center; */
           /* background-repeat: no-repeat; */
           display: flex;
           /* height: 100vh; */
           /* background-position: 100%; */
           justify-content: center;
           background-size: contain;
           
           /* position: absolute; */
           background-size: cover;
           
           /* flex-direction: column; */
           /* align-items: center; */
           /* z-index: 0.2; */
           background: url(./road.png);
           rotate: 90;

        }

        
       
        
    }